#app {
    background-color: $caren-gradient;
}
body, html {
    margin: 0;
}
.home {
    position: relative;
    min-height: 100vh;
}
.person {
    display: inline-grid;
    margin: 20px;
    max-width: 230px;
    cursor: pointer;
}
.contacts {
    min-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
%person {
    display: inline-grid;
    font-family: 'Lato';
    font-size: 2.2rem;
    font-weight: 500;
    color: white;
}
.person-name {
   @extend %person; 
   display: block; 
   margin-top: 1rem;
   span {
        line-height: 1;
        transition: all 230ms;
        cursor: pointer;
    }
}
.person-status {
    @extend %person; 
    display: block;
    margin-top: 1rem;
 }
.person-image {
    box-shadow: inset 10px 10px 10px 0 rgba(0, 0, 0, 0.04);
    border: solid 10px #ffffff; 
    min-height: 100px;
    min-width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    height: 180px;
    width: 180px;
    margin: auto;
    img {
        top: 50%;
        left: 50%;
        width: 90px;
        height: 90px;
        margin-top: 40px;
    }
}