%btn {
  padding: 15px 30px;
  margin: 5px;
  min-width: 8em;
  font-family: 'Lato';
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 6px;
  text-align: center;
  border: none;
  transition: all 230ms;
  cursor: pointer; 
}

button {
  @extend %btn;
}

.btn-primary {
  @extend %btn;
  background-color: $caren-purple;
  color: $white;

  &:hover {
    //   box-shadow: inset 3px 3px 10px 0px #313131;
    background-color: $caren-purple-hover;
  }
}

.btn-secondary {
  @extend %btn;
  background-color: $caren-darkblue;
  color: white;
    &:hover {
        //   box-shadow: inset 3px 3px 10px 0px #313131;
        background-color: #002f40;
    }
}
.btn-ignore {
    @extend %btn;
    padding: 5px 10px;
    min-width: 7em;
    background-color: $caren-purple;
    border-color: $white;
    border: solid 3px $white;
}
.btn-accept {
    @extend %btn;
    padding: 5px 10px;
    min-width: 7em;
    background-color: $online-green;
    border-color: $white;
    border: solid 3px $white;
}