// Default Colors
$white: #ffffff;
$black: #000000;

// Caren Colors
$caren-darkblue: #004056;
$caren-purple: #cf145a;
$caren-purple-hover: #5a324b; 

// Grayscale
$caren-dark:#5b5b5b5b;
$caren-mediumdark:#a6a6a6;
$caren-mediumlight:#bababa;
$caren-light:#eaeaea;

//Gradients
$caren-gradient: linear-gradient(to top, #e23670, #e8636d 25%, #e9716b 49%, #e8636d 75%, #e23670);